.content {
  flex: 1;
  margin-left: 200px;
  padding: 20px;
  margin-top: 50px;
  overflow: auto;
}

h5 {
  /* text-decoration: ; */
  color: rgb(173, 108, 233) !important;
  /* color:  #003366; */
  text-align: left;
  padding-left: 3%;
  border-left: 5px solid  greenyellow;
}

.searchInput {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.searchButton{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color:  #003366;
  color: white;
  cursor: pointer;
}
.noData{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5%; 

}