body{
  margin: 0;
}

:root {
    --golden-color: #C0A145;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* .main-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
} */
/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #69a9e9; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f8f9fa; /* Creates space around the thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a77c4; /* Change color when hovering */
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
}


/* reusable */
/* .toggleheadingDiv {
  display: flex;
  gap: 5%;
  justify-content: center;
  color: #76b0ea;
}

.toggleActive {
  color: white;
  background-color: #76b0ea;
  padding: 1%;
  border-radius: 10px;
} */