.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 5%;
  /* background-image: url(scientist.jpg); */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.miniContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 80px;
  background-color: #f0f8ff;
  width: 500px;
}

.inputField {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 10px;
}

.loginButton,
.resetButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton {
  background-color: #007bff;
  color: white;
}
.resetButton {
  background-color: #6c757d;
  color: white;
}
